@model IEnumerable<FI.WebAtividadeEntrevista.Models.BeneficiarioModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPFB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCliente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPFB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCliente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
